option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:sqsd":
    HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    APP_NAME: JapaLearn
    APP_ENV: production
    APP_DEBUG: true
    APP_URL: http://japalearn.us-east-2.elasticbeanstalk.com
    APP_KEY: base64:0guuiB5xB6YxvzcBkcHd4LoUuPLqGMPObhbAqi9kq9U=
    DB_CONNECTION=mysql
    BROADCAST_DRIVER=log
    CACHE_DRIVER=file
    QUEUE_CONNECTION=sync
    SESSION_DRIVER=file
    SESSION_LIFETIME=120