container_commands:
    01-composerInstall:
        command: "php ./composer.phar install"
        cwd: /var/app/current
    02-clearConfigCache:
        command: "php artisan config:clear"
    03-clearCache:
        command: "php artisan cache:clear"
    04-clearCache:
        command: "php artisan view:clear"
    05-migrations:
        command: "php artisan migrate"