commands:
    composer_update:
        command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
        option_name: COMPOSER_HOME
        value: /root

container_commands:
    02-clearConfigCache:
        commands: |
            "php artisan config:clear"
            "php artisan cache:clear"
            "php artisan view:clear"
    05-migrations:
        command: "php artisan migrate"
        cwd: "/var/app/ondeck"