container_commands:
    02-clearConfigCache:
        command:
            "php artisan config:clear"
    03-clearConfigCache:
        command:
            "php artisan cache:clear"
    04-clearConfigCache:
        command:
            "php artisan view:clear"
    05-migrations:
        command: "php artisan migrate"
    06-installPassport:
        command: "php artisan db:seed --class=InstallPassportSeeder"
    07-seeds:
        command: "php artisan db:seed --class=AddCategoryToKanjis"